<div class="msgs_cont" id="msgs_cont">
    <ul class="list_cont">
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadConversation('<%- conversation.id %>');
    });
</script>