<!-- views/partials/header-admin.ejs -->
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark"
		prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= pageTitle %></title>

<script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/lib/underscore.js"></script>
<script type="text/javascript" src="/lib/jquery-ui.js"></script>
<script type="text/javascript" src="/lib/jsv.js"></script>
<script type="text/javascript" src="/lib/jsonform.js"></script>

<link href="/css/water.css" rel="stylesheet">
<link href="/css/glyphicon.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">

</head>
<body>
	<div class="topper">
		<div class="icon"></div>
		<div class="name"><%= pageTitle %></div>
	</div>
	<main>
		<sidebar style="height: calc(100vh - 180px); position: relative;">
			<nav>
			  <h2 style="margin-top: 0;">Admin menu</h2>
			  <h3 style="">Conversations</h3>
			  <ul class="admin-menu">
				  <li><a href="/conversation">My conversations</a></li>
			  </ul>
			  <h3 style="">Sources</h3>
			  <ul class="admin-menu">
				  <li><a href="/admin/sources">Manage sources</a></li>
				  <li><a href="/admin/sources/add">Add new source</a></li>
			  </ul>
			  <h3 style="">Ratings</h3>
			  <ul class="admin-menu">
				  <li><a href="/admin/ratings">View ratings</a></li>
				  <li><a href="/admin/ratings/choices">Rating choices</a></li>
			  </ul>
			</nav>
			<nav style="position: absolute; bottom: 0px;">
			  <ul>
				<li style="display: inline-block;"">
					<form style="display: inline-flex;" id="logout_form" action="/logout" method="post">
						<a href="javascript:;" onclick="document.getElementById('logout_form').submit();">Logout</a>
					</form>
				</li>
				<li style="display: inline-block;
				padding-left: 1em;
				border-left: 1px solid white;
				margin-left: 1em;">
					<a href="/admin">Admin</a></li>
				</li>
			  </ul>
			</nav>
		  </sidebar>
		  <div class="container">