# Server config
PORT=3080
HOST=http://localhost:{PORT}

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=/auth/google/callback

# ODI OAuth Credentials
DJANGO_CLIENT_ID=your_django_client_id
DJANGO_CLIENT_SECRET=your_django_client_secret
DJANGO_CALLBACK_URL=/auth/django/callback

# Session Secret
SESSION_SECRET=your_session_secret

# MONGO DB config
MONGO_URI=mongodb+srv://username:password@a.b.mongodb.net/...
MONGO_DB=mydb
EMBEDDINGS_COLLECTION=Embeddings
EMBEDDINGS_CACHE_COLLECTION=EmbeddingsCache
CONVERSATIONS_COLLECTION=Conversations

# CONFIGURE A DEFAULT MODEL PROVIDER
MODEL_PROVIDER=OpenAI
MODEL_NAME=gpt-4o-mini
MODEL_API_KEY=....

# CONFIGURE A DEFAULT EMBEDDINGS PROVIDER
EMBED_MODEL_PROVIDER=OpenAI
EMBED_MODEL_NAME=text-embedding-3-small
EMBED_DIMENSIONS=1536

# Azure AI (extras)
AZURE_AI_ENDPOINT_URL=your_azure_ai_url_ending_in_v1

# MODEL KEYS (so you can hide them)
OPENAI_API_KEY=...
ANTHROPIC_API_KEY=...
AZURE_AI_API_KEY=...

# DEFAULTS
DEFAULT_TOKENS=500000
RATING_REWARD=20000

# SET UP ADMINS (who can create new instances?)
ADMIN=foo@bar.com,you@example.org