body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
main {
  height: calc(100vh - 70px);
  overflow: hidden;
}
.container {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  width: calc(100vw - 250px);
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.delete-icon {
  float: right;
  top: 10px;
  position: relative;
}

/* LOGIN PAGE */
.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.login-block > .box {
  width: 250px;
  text-align: center;
  border: 1px solid var(--border);
}

.login-block > .box > img {
  padding: 30px;
}

.login-button {
  width: 250px;
  height: 54px;
  background: #00b7ff;
  margin: 0 auto;
}

.login-button button {
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
/* HEADER */
.header .main-nav {
  position: absolute;
  right: 10px;
}
.header .main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header .main-nav ul li {
  padding: 8px 0px 8px 20px;
}
.header .main-nav ul .selected {
  text-decoration: underline;
}

.header .main-nav ul a,
.header .main-nav ul button {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  padding: 0px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  background: none;
}

@media (min-width: 768px) {
  .header .main-nav ul a,
  .header .main-nav ul button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .header .main-nav ul a,
  .header .main-nav ul button {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .header .main-nav ul a,
  .header .main-nav ul button {
    font-size: 1rem;
  }
}

.header .main-nav ul img {
  margin-left: 8px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
}

.header .main-nav ul .logout {
  padding-left: 0px;
  padding-right: 0px;
}
/* FOOTER */
nav > .pull-right {
  float: right;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  font-size: 0.88em;
  color: #adaeaf;
  background-color: #000;
  border-top: 1px solid #E5E5E5;
  padding: 0 10px;
  margin: 0px;
}

#footer h1 {
  width: 150px;
  height: 36px;
  margin: 10px 20px 10px 0px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(/images/logo-footer.png) no-repeat top left;
  background-size: cover;
  float: right;
}

#footer .footer-content h1 a {
  display: block;
}

#footer .footer-nav {
  margin-left: 30px;
}

#footer a {
  color: #adaeaf;
  text-decoration: none;
}

#footer a:hover {
  color: #fff;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-size: 16px;
}

#footer ul li {
  display: inline;
  margin-right: 2em;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

/* Sidebar */
sidebar {
  width: 200px;
  float: left;
  padding: 10px;
  height: calc(100vh);
  border-right: 1px solid gray;
}
sidebar > nav {
  padding: 10px;
}
sidebar > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-size: 16px;
}
sidebar .admin-menu {
  margin-left:0.5em;
  li:before { content: '> '}
}

.dt-buttons {
  text-align: center;
  margin-top: 10px;
}
#addUserForm label, #addUserForm select, #addUserForm input {
  display: inline;
  margin-right: 10px;
}
.draggable {
  display: none;
}
#dataForm input[type="text"] {
  min-width: 500px;
}
#dataForm .ratingResponses input[type="text"] {
  min-width: 300px;
}
#dataForm .ratingResponses {
  max-width: 350px;
}
#dataForm .suggestions ._jsonform-array-buttons, #dataForm .ratingResponses ._jsonform-array-buttons {
  position: relative;
  left: 10px;
}
#dataForm .ratingResponses ul li ._jsonform-array-buttons {
  float: right;
  top: -40px;
  left: auto;
  position: relative;
}
#dataForm .ratingResponses ul li label {
  display: none;
}
#dataForm ._jsonform-array-buttons ._jsonform-array-deletelast {
  display: none;
}
#dataForm .suggestions ul li ._jsonform-array-buttons {
  float: right;
  top: -280px;
  right: 30px;
  left: auto;
  position: relative;
}
#dataForm .suggestions ul li {
  max-width: 90%;
}
#dataForm ul  {
  padding-left: 0px;
}
.conversations {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(75vh);
}
.conversations.expanded {
  display: inline;
}
.conversations-sidebar #instanceSelect {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.conversations-sidebar h2,
.conversations-sidebar h3 {
  font-size: 0.7em;
  color: #aaa;
}
.conversations ul {
  margin: 0;
  padding-left: 2px;
  font-size: 0.9em;
}
.conversations li {
  list-style: none;
  line-height: 32px;
  cursor: pointer;
}
.menu-button {
  background: radial-gradient(circle, #202b38 0%, transparent 70%);
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 5px 15px;
  position: fixed;
  left: 182px;
  margin-top: 8px;
}

/* Style the icon and hide it initially */
.menu-button .menu-icon {
  display: none; /* Hide by default */
  font-size: 22px;
  color: white;
}

/* Show the icon when hovering over the button */
.menu-button:hover .menu-icon {
  display: inline; /* Show when hovered */
}

.menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: black;
  left: 210px;
}

.menu.show {
  display: block;
}

.menu-option {
  padding: 8px 16px;
  cursor: pointer;
}

.menu-option:hover {
  background-color: #f0f0f0;
}

.conversation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversation {
  flex-grow: 1;
  color: white;
}

.conversation:hover {
  text-decoration: none;
  background-color: #000;
}

.topper {
  width: auto;
  height: auto;
  background: linear-gradient(15deg, #722ea5 0%, #80d0c7 100%);
  padding: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.topper .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #11ba91 url('https://avatars.githubusercontent.com/u/2492770?s=200&v=4');
  background-size: cover;
  margin-left: 15px;
}

.topper .name {
  color: #fff;
  font-weight: bolder;
  margin-left: 15px;
  font-size: 18px;
  letter-spacing: 2px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bottom {
  width: calc(100vw - 240px);
  background: #595656;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Changed to relative */
  max-height: 200px; /* Max height */
  height: auto; /* Dynamic height */
}

.bottom #input {
  width: 95%;
  height: auto;
  background: grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.bottom #input input {
  width: 90%;
  padding: 7px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.bottom #input textarea {
  min-height: 50px; /* Adjust min-height as needed */
  max-height: 150px; /* Max height for textarea */
  resize: none; /* Disable manual resizing by the user */
  scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: #ffffff #f2f2f2; /* Set the color of the thumb and track */
}

.bottom #input textarea::-webkit-scrollbar-track {
  background: #f2f2f2; /* Color of the track */
}

.bottom #input textarea::-webkit-scrollbar-thumb {
  background: #ffffff; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
  border: 3px solid #f2f2f2; /* Space around the thumb */
}

.bottom #input textarea::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0; /* Color of the thumb when hovered */
}

.bottom #input input::placeholder {
  color: #e6e6e6;
}

.bottom #input button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s;
  outline: none;
  border: none;
  background: transparent;
}

.bottom #input button:active {
  transform: scale(0.96);
  background: #13d2a3;
  opacity: 0.4;
}
.aichat {
  float: right;
  width: calc(100vw - 221px);
  display: flex;
  height: 100%;
}

.msgs_cont {
  overflow: auto;
  padding-left: 10px;
  padding-right: 20px;
  scroll-behavior: smooth;
  color: #f2f2f2;
  transition: height 0.3s ease;
  overflow-x: hidden;
  flex: 1; /* Allow to grow and shrink as needed */
}

.msgs_cont > ul {
  width: 100%;
  padding: 5px;
}

.msgs_cont > ul > li {
  padding: 10px;
  max-width: 90%;
  margin: 10px 0;
  background: linear-gradient(15deg, #2a569d 0%, #80d0c7 100%);
  list-style-type: none;
  border-radius: 10px;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
}

.msgs_cont .HUMAN {
  float: right;
  clear: both;
  margin-bottom: 5px;
  border-bottom-right-radius: 20px;
}

.msgs_cont .AI {
  float: left;
  clear: both;
  margin-bottom: 5px;
  background: linear-gradient(to top right, #2a569d, #0a6e55);
  padding-left: 12px;
  border-bottom-left-radius: 20px;
  min-width: 240px;
}

.msgs_cont .AI .sources-list a {
  color: white;
  text-decoration: underline;
}

.msgs_cont .AI .rating {
  margin-top: 10px;
}

.msgs_cont .AI .rating .stars {
  text-align: right;
}

.msgs_cont .AI .rating .stars .star {
  cursor: pointer;
}
.suggestion-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically within this container */
  padding: 10px;          /* Add some padding around the container */
  border-radius: 10px;    /* Optional: rounded corners */
  position: relative;     /* Allow positioning based on parent container */
  top: 40%;               /* Move container to vertical center */
  left: 50%;              /* Move container to horizontal center */
  transform: translate(-50%, -50%); /* Center container based on its own size */
  max-width: 90%;         /* Optional: constrain width to fit in viewport */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.suggestion-icon {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  margin-bottom: 30px; /* Space between the icon and suggestion boxes */
  border-radius: 50%; /* Optional: make the icon circular */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

.boxes-container {
  display: flex; /* Display boxes in a row */
  flex-wrap: wrap; /* Allow wrapping if there are too many boxes to fit in one row */
  gap: 10px; /* Space between suggestion boxes */
  justify-content: center; /* Center boxes horizontally */
}
.suggestion-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  max-width: 150px;
  text-align: center;
}
.suggestion-box:hover {
  background-color: rgba(100, 100, 100, 0.8); /* Lighten by adjusting opacity */
}
.copy-button {
  padding: 5px 10px;
  background: none;
  float: right;
}

.closeButton {
  top: -5px;
  right: 0px;
  cursor: pointer;
  font-size: 1em;
  z-index: 9999;
  position: relative;
  float: right;
  color: white;
}
.msgs_cont .AI .response-choices {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
}
.msgs_cont .AI .other-input-container {
  padding: 10px;
  border: 1px solid #eee;
  margin: 10px;
}
.msgs_cont .AI .response-choices h3 {
  margin-top: 12px;
  padding: 6px;
}
.msgs_cont .AI .other-input-container h3 {
  margin-top: 12px;
  padding: 6px;
}
.msgs_cont .AI .other-input-container textarea {
  width: 100%;
  background: inherit;
  color: inherit;
  box-shadow: none;
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 320px;
  min-height: 120px;
}



/* Style for the tooltip icon */
.tooltip-icon {
  position: relative;
  vertical-align: super; /* Make the icon superscript */
  cursor: help; /* Change cursor to indicate it's clickable */
}

/* Style for the tooltip */
.tooltip {
  position: absolute;
  top: -25px; /* Adjust the tooltip position */
  left: 20px; /* Adjust the tooltip position */
  width: 300px;
  font-size: 0.8em;
  background-color: var(--background-body);
  border: 1px solid #ccc; /* Border style */
  padding: 5px; /* Add padding for better appearance */
  border-radius: 5px; /* Add border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  z-index: 999; /* Ensure tooltip appears above other content */
}

button.uil {
  background: #2a569d;
}

.typing-animation {
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #cccccc;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 0;
  animation: typing-dot 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing-dot {
  0%, 20% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-7px);
  }

  80%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
}