body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
main {
  height: calc(100vh - 150px);
  overflow: hidden;
}
.container {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  width: calc(100vw - 250px);
}

/* LOGIN PAGE */
.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.login-block > .box {
  width: 250px;
  text-align: center;
  border: 1px solid var(--border);
}

.login-block > .box > img {
  padding: 30px;
}

.login-button {
  width: 250px;
  height: 54px;
  background: #00b7ff;
  margin: 0 auto;
}

.login-button button {
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* FOOTER */
nav > .pull-right {
  float: right;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  font-size: 0.88em;
  color: #adaeaf;
  background-color: #000;
  border-top: 1px solid #E5E5E5;
  padding: 0 10px;
  margin: 0px;
}

#footer h1 {
  width: 150px;
  height: 36px;
  margin: 10px 20px 10px 0px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(/images/logo-footer.png) no-repeat top left;
  background-size: cover;
  float: right;
}

#footer .footer-content h1 a {
  display: block;
}

#footer .footer-nav {
  margin-left: 30px;
}

#footer a {
  color: #adaeaf;
  text-decoration: none;
}

#footer a:hover {
  color: #fff;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-size: 16px;
}

#footer ul li {
  display: inline;
  margin-right: 2em;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

/* Sidebar */
sidebar {
  width: 200px;
  float: left;
  padding: 10px;
  height: calc(100vh - 70px);
  border-right: 1px solid gray;
}
sidebar > nav {
  padding: 10px;
}
sidebar > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-size: 16px;
}
sidebar .admin-menu {
  margin-left:0.5em;
  li:before { content: '> '}
}
.conversations {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(75vh);
}
.conversations.expanded {
  display: inline;
}
.conversations h2,
.conversations h3 {
  padding: 0px;
  margin: 10px 0px;
}
.conversations h2 {
  font-size: 1em;
}
.conversations h3 {
  font-size: 0.8em;
  font-weight: normal;
}
.conversations ul {
  margin: 0;
  padding-left: 10px;
  font-size: 0.8em;
}
.conversations li {
  list-style: none;
  line-height: 32px;
  text-decoration: underline;
  cursor: pointer;
}
.closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  z-index: 9999; /* Ensure it's above other content */
}

.rating-comment-container .closeButton {
  position: relative;
  float: right;
}

.topper {
  width: auto;
  height: auto;
  background: linear-gradient(15deg, #722ea5 0%, #80d0c7 100%);
  padding: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.topper .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #11ba91 url('https://avatars.githubusercontent.com/u/2492770?s=200&v=4');
  background-size: cover;
  margin-left: 15px;
}

.topper .name {
  color: #fff;
  font-weight: bolder;
  margin-left: 15px;
  font-size: 18px;
  letter-spacing: 2px;
}

.bottom {
  width: calc(100vw - 240px);
  height: 63px;
  background: #595656;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-height: 100px;
}

.bottom #input {
  width: 95%;
  height: auto;
  background: grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.bottom #input input {
  width: 90%;
  padding: 7px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.bottom #input input::placeholder {
  color: #e6e6e6;
}

.bottom #input button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s;
  outline: none;
  border: none;
  background: transparent;
}

.bottom #input button:active {
  transform: scale(0.96);
  background: #13d2a3;
  opacity: 0.4;
}
.aichat {
  float: right;
  width: calc(100vw - 221px);
}

.msgs_cont {
  overflow: auto;
  padding-left: 10px;
  padding-right: 20px;
  scroll-behavior: smooth;
  color: #f2f2f2;
  transition: height 0.3s ease;
  overflow-x: hidden;
  height: calc(100vh - 150px);
}

.msgs_cont > ul {
  width: 100%;
  padding: 5px;
}

.msgs_cont > ul > li {
  padding: 10px;
  max-width: 90%;
  margin: 10px 0;
  background: linear-gradient(15deg, #2a569d 0%, #80d0c7 100%);
  list-style-type: none;
  border-radius: 10px;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
}

.msgs_cont .HUMAN {
  float: right;
  clear: both;
  margin-bottom: 5px;
  border-bottom-right-radius: 20px;
}

.msgs_cont .AI {
  float: left;
  clear: both;
  margin-bottom: 5px;
  background: linear-gradient(to top right, #2a569d, #0a6e55);
  padding-left: 12px;
  border-bottom-left-radius: 20px;
  min-width: 240px;
}

.msgs_cont .AI .sources-list a {
  color: white;
  text-decoration: underline;
}

.msgs_cont .AI .rating {
  margin-top: 10px;
}

.msgs_cont .AI .rating .stars {
  text-align: right;
}

.msgs_cont .AI .rating .stars .star {
  cursor: pointer;
}

.msgs_cont .AI .rating-comment-container {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 0.9em;
}

.msgs_cont .AI .rating-comment-container .rating-option {
  display: inline-block;
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.msgs_cont .AI .rating-comment-container .rating-comment {
  text-align: right;
}

.msgs_cont .AI .rating-comment-container textarea {
  width: 100%;
  background: inherit;
  color: inherit;
  box-shadow: none;
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 320px;
  min-height: 120px;
}

.msgs_cont .AI .rating-comment-container button {
  padding: 10px;
}

/* Style for the tooltip icon */
.tooltip-icon {
  position: relative;
  vertical-align: super; /* Make the icon superscript */
  cursor: help; /* Change cursor to indicate it's clickable */
}

/* Style for the tooltip */
.tooltip {
  position: absolute;
  top: -25px; /* Adjust the tooltip position */
  left: 20px; /* Adjust the tooltip position */
  width: 300px;
  font-size: 0.8em;
  background-color: var(--background-body);
  border: 1px solid #ccc; /* Border style */
  padding: 5px; /* Add padding for better appearance */
  border-radius: 5px; /* Add border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  z-index: 999; /* Ensure tooltip appears above other content */
}

button.uil {
  background: #2a569d;
}

.typing-animation {
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #cccccc;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 0;
  animation: typing-dot 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing-dot {
  0%, 20% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-7px);
  }

  80%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
}