<%- include('../partials/header') %>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <div class="error">
            <h1><span class="fa fa-exclamation-circle"></span><%= statusCode %>: <%= errorMessage %></h1>
        </div>
    </div>
</div>
</section>
<%- include('../partials/footer') %>