<%- include('../../partials/header-admin') %>
<style>
    .longText {
        min-width: 80%;
    }
    .submit {
        margin-top: 2em;
    }
</style>
<h1>Edit Instance</h1>
<div id="res" class="alert"></div>
<form id="dataForm"></form>

<script>
    const instanceId = "<%= instanceId %>";
    const data = {};

    $(document).ready(function () {
        fetch(`/instances/${instanceId}`, {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => response.json())
        .then(instance => {
            $('#dataForm').jsonForm({
                schema: {
                    name: {
                        type: 'string',
                        title: 'Name',
                        required: true
                    },
                    description: {
                        type: 'string',
                        title: 'Description',
                        required: false
                    },
                    public: {
                        type: 'boolean',
                        title: 'Public',
                        required: true
                    }
                },
                form: [
                    "name",
                    {
                        key: "description",
                        type: "textarea"
                    },
                    {
                        key: "public",
                        type: "checkbox"
                    },
                    {
                        type: "submit",
                        title: "Update Instance"
                    }
                ],
                value: {
                    name: instance.name,
                    description: instance.description,
                    public: instance.public
                },
                onSubmit: function (errors, values) {
                    if (errors) {
                        $('#res').html('<p>Please correct the errors in your form</p>');
                    } else {
                        updateInstance(values);
                    }
                }
            });
        })
        .catch(error => {
            console.error('Error fetching instance details:', error);
            $('#res').html('<p>Error fetching instance details.</p>');
        });
    });

    function updateInstance(values) {
        $('#res').html('<p>Updating, please wait...</p>');
        fetch(`/instances/${instanceId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(values)
        })
        .then(response => response.json())
        .then(data => {
            if (data._id) {
                $('#res').html('<p>Instance updated successfully.</p>');
            } else if (data.error) {
                $('#res').html('<p>Error: ' + data.error + '</p>');
            } else {
                $('#res').html('<p>Unknown error occurred</p>');
            }
        })
        .catch(error => {
            console.error('Error updating instance:', error);
            $('#res').html('<p>An error occurred while processing your request</p>');
        });
    }
</script>
<%- include('../../partials/footer-admin') %>