<%- include('../../partials/header') %>
<style>
    /* Add your custom styles here */
</style>
<div class="padded">
    <h1>Assistant details</h1>
    <div id="res" class="alert"></div>

    <div id="assistantDetails" style="display: none;">
        <p><strong>Name:</strong> <span id="instanceName"></span></p>
        <p><strong>Description:</strong> <span id="instanceDescription"></span></p>
        <p><strong>System prompt:</strong><span id="instancePrompt"></span></p>
        <p><strong>Token reward for providing rating:</strong> <span id="tokenReward"></span></p>
        <p><strong>Model Provider:</strong> <span id="modelProvider"></span> (<span id="modelProviderPrivacyPolicy"></span>)</p>
        <p><strong>Model Name:</strong> <span id="modelName"></span></p>
        <p><strong>Created Date:</strong> <span id="instanceCreatedAt"></span></p>
        <p><strong>Updated Date:</strong> <span id="instanceUpdatedAt"></span></p>
        <p><strong>Public:</strong> <span id="instancePublic"></span></p>

        <button id="chatBtn">Chat with assistant</button>

        <% if (userCanAdminInstance) { %>
            <h3>Manage assistant</h3>
            <button id="editInstanceBtn">Edit assistant</button>
            <button id="shareInstanceBtn">Share assistant</button>
            <button id="deleteInstanceBtn">Delete assistant</button>
            <button id="manageSourcesBtn">Manage Sources</button>

            <h3>Ratings report</h3>
            <button id="ratingsReportBtn">Ratings report</button>
        <% } else { %>
            <button id="manageSourcesBtn">View assistant data sources</button>
        <% } %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const instanceId = "<%= instanceId %>";
        fetch(`/instances/${instanceId}`, {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => {
            if (response.status === 404) {
                document.getElementById('res').textContent = 'Assistant not found';
                return;
            } else if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(instance => {
            if (!instance) return;
            // Show the assistant details section
            document.getElementById('assistantDetails').style.display = 'block';

            document.getElementById('instanceName').textContent = instance.name;
            document.getElementById('instanceDescription').textContent = instance.description || 'No description available';
            document.getElementById('instancePrompt').textContent = instance.systemPrompt || 'Not available';
            document.getElementById('tokenReward').textContent = '+' + instance.ratingReward || '0';
            document.getElementById('modelProvider').textContent = instance.model.provider || 'Model provider unknown';
            document.getElementById('modelName').textContent = instance.model.name || 'Model name unknown';
            document.getElementById('instanceCreatedAt').textContent = new Date(instance.createdAt).toLocaleString();
            document.getElementById('instanceUpdatedAt').textContent = new Date(instance.updatedAt).toLocaleString();
            document.getElementById('instancePublic').textContent = instance.public ? 'Yes' : 'No';

            // Add privacy policy link for the model provider
            const modelProviderPrivacyPolicyLinks = {
                "OpenAI": "https://openai.com/enterprise-privacy/",
                "Azure": "https://learn.microsoft.com/en-us/legal/cognitive-services/openai/data-privacy?tabs=azure-portal",
                "Anthropic": "https://support.anthropic.com/en/collections/4078534-privacy-legal",
                "Mistral": "https://mistral.ai/terms/#terms-of-service-cloud-usage",
                "Hugging Face": "https://huggingface.co/docs/inference-endpoints/en/security#data-securityprivacy"
            };

            const modelProvider = instance.model.provider || '';
            const privacyPolicyLink = modelProviderPrivacyPolicyLinks[modelProvider] || '#';
            document.getElementById('modelProviderPrivacyPolicy').innerHTML = privacyPolicyLink !== '#' ? `<a href="${privacyPolicyLink}" target="_blank">Privacy Policy</a>` : 'No privacy policy available';
        })
        .catch(error => {
            console.error('Error fetching instance details:', error);
            document.getElementById('res').textContent = 'Error fetching instance details.';
        });

        document.getElementById('editInstanceBtn')?.addEventListener('click', function () {
            window.location.href = `/instances/${instanceId}/edit`;
        });

        document.getElementById('shareInstanceBtn')?.addEventListener('click', function () {
            window.location.href = `/instances/${instanceId}/sharedWith`;
        });

        document.getElementById('deleteInstanceBtn')?.addEventListener('click', function () {
            if (confirm('Are you sure you want to delete this instance?')) {
                document.getElementById('res').textContent = 'Deleting, please wait.';
                fetch(`/instances/${instanceId}`, {
                    method: 'DELETE',
                })
                .then(response => {
                    if (response.ok) {
                        document.getElementById('res').textContent = 'Instance deleted successfully.';
                        setTimeout(function () {
                            window.location.href = '/instances';
                        }, 2000);
                    } else {
                        document.getElementById('res').textContent = 'Error deleting instance.';
                    }
                })
                .catch(error => {
                    console.error('Error deleting instance:', error);
                    document.getElementById('res').textContent = 'Error deleting instance.';
                });
            }
        });

        document.getElementById('manageSourcesBtn')?.addEventListener('click', function () {
            window.location.href = `/instances/${instanceId}/sources`;
        });

        document.getElementById('chatBtn')?.addEventListener('click', function () {
            window.location.href = `/instances/${instanceId}/conversations`;
        });

        document.getElementById('ratingsReportBtn')?.addEventListener('click', function () {
            window.location.href = `/instances/${instanceId}/ratingsReport`;
        });
    });
</script>
<%- include('../../partials/footer') %>