<!-- views/pages/auth.ejs -->
<%- include('../partials/header') %>
<div class="login-block">
    <div class="box">
        <img src="images/odi-roundal.png" width="100px" size="100px"><br>
        <div class="login-button">
            <form action="/auth/django" method="get">
                <button type="submit">ODI Login</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>