<!-- views/pages/auth.ejs -->
<%- include('../partials/header') %>
<div class="login-block">
    <div class="box">
        <img src="/images/odilabs-8-dark.svg" width="200px" size="100px"><br>
        <div class="login-button">
            <form action="/auth/google" method="get">
                <button type="submit">ODI Login</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>